.appbar {
  height: 100%;
  width: 90px;
  position: relative;
  display: flex;
  overflow: hidden;
  border-right: 1px solid white;
  & > div {
    transform: rotate(-90deg) translate(-100%, 0px);
    transform-origin: top left;
    height: 90px;
    min-width: calc(100 * var(--vh, 1vh));
    display: flex;
    & > div {
      flex: 1;
      align-items: center;
      display: flex;
      padding: 8px;
      .name {
        font-size: 40px;
        color: white;
      }
      .title {
        padding-left: 24px;
        font-size: 20px;
        color: white;
        margin-top: 15px;
      }
    }
  }
}
