.container {
  width: 100%;
  padding: 8px;
  .exp {
    width: 100%;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    display: flex;

    .item {
      flex: none;
      border-bottom: 1px solid white;
      background-color: #141414;
      width: 100%;
      position: sticky;
      top: 0;
      overflow: hidden;
      min-height: 68px;
      max-height: 80%;

      .title {
        position: relative;
        display: flex;
        cursor: pointer;

        h2 {
          padding: 16px;
          font-size: 30px;
          width: calc(100% - 175px);
        }

        svg {
          color: white;
        }

        .img {
          position: absolute;
          right: 8px;
          top: 8px;
          width: 80px;
          aspect-ratio: 1;
          opacity: 0.7;
          margin-bottom: 1px;
        }
      }

      .details {
        height: 100%;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        padding: 0 16px;
        transition: max-height 300ms ease-in-out 0s;

        .subtitle {
          font-size: 20px;
        }

        .content {
          padding: 16px 0 16px 16px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          position: relative;

          &::before {
            content: " ";
            position: absolute;
            top: 16px;
            left: 0;
            width: 1px;
            height: calc(100% - 32px);
            background-color: white;
          }

          .technosList {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .technos {
              display: flex;
              color: white;
              align-items: center;
              gap: 8px;

              .chips {
                display: flex;
                gap: 4px;
                .chip {
                  background-color: white;
                  padding: 4px;
                  img {
                    object-fit: contain;
                  }
                }
              }
            }
          }

          .section {
            color: white;

            h4 {
              font-size: 20px;
              margin-bottom: 4px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }

      &.open {
        .details {
          overflow: auto;
          max-height: 80vh;
        }
        .title {
          .img {
            opacity: 1;
          }
        }
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      .img {
        height: 40px;
        width: 40px;
        flex: 1;
        position: relative;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
